<div class="modal-header">
    <h3>We can change this!</h3>
</div>
<div class="modal-body container">
    <div class="graph" id="method-graph" ng-controller="GraphCtrl" ng-init="init({width:150, height:150})" style="width: 480px; margin: 30px 70px">

        <div class="graph-container" style="float:left; position:relative">
            <div class="tooltip-container">
                <div class="tooltip" ng-show="showGuide" ng-show="pathDisplayState[0]">YEAR</div>
            </div>
            <svg height="{{height+30}}" width="{{width+30}}">
                <rect x="30" y="0" width="{{width}}" height="{{height}}" fill="#333"></rect>
                <!-- hover guide -->
                <!-- <line id="hover-guide" x1="2" y1="0" x2="2" y2="{{height}}" transform="translate(30)" style="stroke:rgb(0,255,0);stroke-width:1" /> -->
                <!-- y-axis -->
                <line x1="2" y1="0" x2="2" y2="{{height}}" transform="translate(30)"></line>
                <!-- x-axis -->
                <line x1="2" y1="{{height-1}}" x2="{{width}}" y2="{{height-1}}" transform="translate(30)"></line>

                <path ng-repeat="path in data.paths" d="{{path.d}}" class="data-path {{path.label}}" fill="none" stroke="{{color[$index]}}" stroke-width="2" transform="translate(30)" ng-show="pathDisplayState[$index]"></path>
                <!-- hover dots -->
                <circle ng-repeat="path in data.paths" id="hover-dot-{{$index}}" cx="30" cy="10" r="4" fill="{{color[$index]}}" ng-show="pathDisplayState[$index] && showGuide" transform="translate(30)"></circle>
                <text ng-repeat="label in data.x_label" x="{{$last? data.label_x_coord[$index]-25: data.label_x_coord[$index]}}" y="{{height+20}}" fill="red" style="font-size:10px" transform="translate(30)" ng-show="$index % 10 == 0">{{label}}</text>

                <text ng-repeat="label in data.y_label" x="0" y="{{data.label_y_coord[$index]}}" fill="red" style="font-size:10px" transform="" ng-show="$index % 2 == 0">{{label}}</text>
                <rect x="30" y="0" width="{{width}}" height="{{height}}" opacity="0" fill="#333" ng-mousemove="mousemove($event)" ng-mouseleave="mouseleave($event)" ng-mouseenter="mouseenter($event)"></rect>
            </svg>
        </div>
        <div class="legend" style="float:left">
            <ul>
                <li ng-repeat="path in data.paths" class="container-fluid">
                    <div id="path-legend-{{path.label}}" ng-click="togglePath($index)" class="item-container" ng-class="{hidden:!pathDisplayState[$index]}">
                        <div class="palette col-md-4" style="background-color: {{color[$index]}}"></div>
                        <p class="label col-md-4">{{path.label}}</p>
                        <p class="label col-md-4" ng-show="pathDisplayState[$index]">{{pathValues[$index]}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <p style="clear:both">Cars and Trucks are massive sources of CO<sup>2</sup> emissions. You can help by:</p>
    <ul>
        <li>Drive efficiently</li>
        <li>Choose an energy-efficient vehicle</li>
        <li>Commute with bike/public transportation</li>
    </ul>
    <h4>Share this page, and visit EPA for more tips!</h4>
    <div id="fb-root"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default"><a href="http://www.epa.gov/climatechange/wycd/road.html" target="_blank">More tips</a></button>
    <button class="btn btn-success" ng-click="ok()">Got it!</button>
</div>